*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.log
*.old
*.old2
*.save
*.backup
*.pickle
.cloud
.storage
.uuid
core.*
core
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
icloud
homebridge
*.db-journal
*.db-shm
*.db-wal
*.sqlite
deps
__pycache__
tts
secrets.yaml
known_devices.yaml
ip_bans.yaml
phue.conf
ios.conf
pyozw.sqlite
nest.conf
ipchange.yaml
export_*
JEEDOM
.homekit.state
.HA_VERSION
home-panel*